# deps
node_modules
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# next
.next
out
build
dist

# env
.env*
!.env.example

# misc
.DS_Store
*.pem
.vercel
.turbo
*.tsbuildinfo
next-env.d.ts.bak

# dev runtime artefacts
app/dev.log
app/dev.err.log
app/pid.txt
*.bak
build.log

.next-local/

public/videos/*.mp4
!public/videos/private-event.mp4
!public/videos/hero.mp4
!public/videos/hero-mobile.mp4

